POSTGRES_DB=c2_ta
POSTGRES_USER=c2ta
POSTGRES_PASSWORD=defina_uma_senha
DJANGO_DEBUG=0
DJANGO_SECRET_KEY=defina_uma_chave
DJANGO_ALLOWED_HOSTS=ta.c2sistemas.online,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://ta.c2sistemas.online,http://localhost:8000,http://127.0.0.1:8000
C2TA_PORT=8010
C2TA_PUBLIC_BASE_URL=https://ta.c2sistemas.online
C2TA_BOOTSTRAP_CREATE_ADMIN=1
C2TA_ADMIN_USERNAME=admin
C2TA_ADMIN_EMAIL=admin@c2ta.local
C2TA_ADMIN_PASSWORD=defina_uma_senha
C2TA_ADMIN_FULL_NAME=Administrador C2-TA
C2TA_ERP_BASE_URL=https://gestao.c2sistemas.online
C2TA_ERP_API_TOKEN=defina_o_token
C2TA_ERP_VERIFY_SSL=1
C2TA_ERP_TIMEOUT_SECONDS=20
C2TA_WEBHOOK_SECRET=defina_um_segredo
C2TA_WEBHOOK_TOLERANCE_SECONDS=300
